PORT=1111
mongodb=mongodb+srv://<username>:<password>@cluster0.pajjlnf.mongodb.net/cravecart?appName=Cluster0
SECRET=your_jwt_secret_key
ADMIN_NAME=admin@example.com
ADMIN_PASSWORD=your_admin_password
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:1111/user/google/callback
